<!DOCTYPE html>
<head>
  <title>
    Designable Playground
  </title>
</head>
<body>
  <div id="root">
  </div>
  <script type="text/javascript" src="https://unpkg.com/monaco-themes/dist/monaco-themes.js"></script>
  <script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
  <script src="https://unpkg.com/react"></script>
  <script src="https://unpkg.com/react-dom"></script>
  <script src="https://unpkg.com/antd/dist/antd-with-locales.min.js"></script>
</body>
